<html>
<h2>{{ _('Hey !') }}</h2>
<p>
{{ _("You shouldn't be here !") }}
</p>

<div class="span offset1">
    请点击浏览器后退按钮回到上一页面或者点击此处
{%if g.user:%}   
<a class="btn btn-success" href="/index/"><i class="icon-share-alt"></i>返回首页</a>
{%else:%}
<a class="btn btn-success" href="/account/login/"><i class="icon-share-alt"></i>返回首页</a>
{%endif%}
</div>

<!--
<script language="javascript">
    var time = 5; //时间,秒 
    function backParent(){ 
        history.back();
    }
    var i = 0;
    function msgDisPlay(){
        //s 代表信息显示的地方
        document.all.s.innerHTML = "现在返回，请稍等！还剩" + (time - i) + "秒";
        i++;
    }
    timer=setInterval('msgDisPlay()', 1000);//显示时间
    timer=setTimeout('backParent()',time * 1000); //跳转 
       
</script>
<div>
<span style="color:red" id="s"></span>
</div>
-->
</html>