{% extends "layout.html" %}
{% block content %}

<header id="overview" class="jumbotron subhead">
<div class="container">
<h2>单个任务统计</h2>
</div>
</header>

<div class="bs-docs-social">
  <ul class="bs-docs-social-buttons">
  <li>
  <a class="btn" href="{{url_for('task.showtask')}}"><i class="icon-share-alt"></i>一键返回</a>
  </li>
  <li>
  <a class="btn" href="{{url_for('task.addtask')}}"><i class="icon-plus-sign"></i>一键添加</a>
  </li>
  </ul>
</div>


<div class="container">
  <div class="row">

    <div class="span3 bs-docs-sidebar">
     <ul class="nav nav-list bs-docs-sidenav">
     {% for subnode in nodes[:5] %}
     <!--<li class=""><a href="{{url_for('task.showtask_parent', module_id=subnode.id)}}"><i class="icon-chevron-right"></i>{{subnode.name}}</a>
     </li>-->
     <li  class=""><a href="{{HUDSON}}job/{{task.name}}/{{subnode.build_id}}/consoleText" target="blank"><i class="icon-chevron-right"></i>#{{subnode.build_id}}  {{subnode.timing}}
        </a>
     </li>
     {% endfor %}
     </ul>
    </div>

    <div class="span9">
     {% include "stat/stat.html" %}
     <hr/>
     {% include "task/taskcount.html" %}
    </div>
  

 </div>
</div>

{% endblock %}
