<li class="dropdown">
<a id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
<i class="icon-briefcase"></i>工具箱
<b class="caret"></b>
</a>
<ul id="menu2" class="dropdown-menu" aria-labelledby="drop5" role="menu">
<li role="presentation">
<a href="{{url_for('tool.pmc')}}" tabindex="-1" role="menuitem">PMC数据生成</a>
</li>
<li class="dropdown-submenu">
<a tabindex="-1" href="#">ULC数据生成</a>
<ul class="dropdown-menu">
<li role="presentation">
<a href="{{url_for('tool.ulc_cookie')}}" tabindex="-1" role="menuitem">由 Cookid 生成</a>
<a href="{{url_for('tool.ulc_ua_ip')}}" tabindex="-1" role="menuitem">由 UA 和 IP 生成</a>
</li>

</ul>
</li>
</ul>
</li>