{% extends "layout.html" %}
{% block content %}
<header id="overview" class="jumbotron subhead">
<div class="container">
<h2>你的视图</h2>
<p class="lead">这里是你的所有的case、task以及code</p>
</div>
</header>

<div class="container">
  <div class="row">

   
<div class="span12">
<hr>

  <div class="tabbable"> 
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">由你编写的用例</a></li>
    <li><a href="#tab2" data-toggle="tab">由你创建的任务</a></li>
    <li><a href="#tab3" data-toggle="tab">由你上传的代码</a></li>
    </ul>

    
    <div class="tab-content">
    {% include "index/index_case.html" %}
    {% include "index/index_task.html" %}
    {% include "index/index_code.html" %}  
 
    </div>
    
  </div>
</div>

</div>
</div>
{% endblock %}
