<script type="text/javascript" charset="utf-8">
var oTable;
 
/* Formating function for row details */
function fnFormatDetails ( nTr )
{
    var aData = oTable.fnGetData( nTr );
    var sOut = '<div class="alert alert-info alert-block"><button type="button" class="close" data-dismiss="alert">&times;</button>';
    sOut += '<h5>用例输入:</h5>';
    sOut += '<p>'+aData.usecase_input+'</p>';
    sOut += '<h5>用例输出:</h5>';
    sOut += '<p>'+aData.usecase_output+'</p>';
    sOut += '</div>';
     
    return sOut;
}

      /* Table initialisation */
      $(document).ready(function() {
        oTable=$('#example_case').dataTable( {
        "sDom": "<'row'<'span4'l><'span8'f>r>t<'row'<'span4'T><'span4'i><'span4'p>>",
        /*copy print save settings*/
        "oTableTools": {
                         "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
                          "aButtons": [
                          "copy",
                          "print",
                          {
                          "sExtends":    "collection",
                          "sButtonText": 'Save <span class="caret" />',
                          "aButtons":    [ "csv", "xls", "pdf" ]
                            }
                            ]
                            },

         /*json source settings*/
        "sAjaxSource": "{{url_for('api.case_json_byauthorid')}}",

        /*json data*/
        "aoColumns": [
            { "sClass": "center", "bSortable": false, "sDefaultContent":"<img src='/static/img/details_open.png'>" },
            { "mData": "id"},
            { "mData": "title" },
            { "mData": "description" },
            { "mData": "access" },
            { "mData": "usecase_input","bVisible": false },
            { "mData": "usecase_output","bVisible": false },
            { "mData": "casetype" },
            { "mData": "case_create_time" },
            { "mData": "case_update_time" }
        ],
        "aaSorting": [[1, 'desc']]
        } );



    $('#example_case').on('click', 'tbody td img', function () {
        var nTr = $(this).parents('tr')[0];
        if ( oTable.fnIsOpen(nTr) )
        {
            /* This row is already open - close it */
            this.src = "/static/img/details_open.png";
            oTable.fnClose( nTr );
        }
        else
        {
            /* Open this row */
            this.src = "/static/img/details_close.png";
            oTable.fnOpen( nTr, fnFormatDetails(nTr), 'details' );
        }
    } );
} );

    
</script>




<div class="tab-pane active" id="tab1">
<table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover table-striped" id="example_case">

<thead>
<tr>
<th></th>
<th>ID</th>
<th>标题</th>
<th>描述</th>
<th>状态</th>
<th>用例输入</th>
<th>用例输出</th>
<th>所属模块</th>
<th>创建时间</th>
<th>更新时间</th>
</tr>
</thead>

<tbody>
</tbody>
</table>


</div>