<script type="text/javascript" charset="utf-8">

      /* Table initialisation */
      $(document).ready(function() {
        $('#example_code').dataTable( {
        "sDom": "<'row'<'span4'l><'span8'f>r>t<'row'<'span4'T><'span4'i><'span4'p>>",
        /*copy print save settings*/
        "oTableTools": {
                         "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
                          "aButtons": [
                          "copy",
                          "print",
                          {
                          "sExtends":    "collection",
                          "sButtonText": 'Save <span class="caret" />',
                          "aButtons":    [ "csv", "xls", "pdf" ]
                            }
                            ]
                            },

         /*json source settings*/
        "sAjaxSource": "{{url_for('api.code_json_byauthorid')}}",

        /*json data*/
        "aoColumns": [
            { "mData": "id"},
            { "mData": "title" },
            { "mData": "description" },
            { "mData": "path" },
            { "mData": "codetype" },
            { "mData": "code_create_time" },
            { "mData": "code_update_time" }
        ]
} );
} );
    
</script>






<div class="tab-pane" id="tab3">
<table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover table-striped" id="example_code">
<thead>
<tr>
<th>ID</th>
<th>名称</th>
<th>描述</th>
<th>路径</th>
<th>所属模块</th>
<th>创建时间</th>
<th>更新时间</th>
</tr>
</thead>

<tbody>
</tbody>

</table>
</div>