{% extends "layout.html" %}
{% block content %}

<header id="overview" class="jumbotron subhead">
<div class="container">
<h2>代码管理</h2>
<p class="lead">编辑、删除、新增管理代码</p>
</div>
</header>
<div class="bs-docs-social">
<div class="container">
  <ul class="bs-docs-social-buttons">
    <li>
    <a class="btn" href="{{url_for('code.showcode')}}"><i class="icon-share-alt"></i>一键返回</a>
    <li>
    <li>
    <a class="btn" href="{{url_for('code.addcode')}}"><i class="icon-plus-sign"></i>一键添加</a>
    <li>


  </ul>
</div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      {% for subnode in nodes %}
      <li class=""><a href="{{url_for('code.showcode_module', module_id=subnode.id)}}"><i class="icon-chevron-right"></i>
        {{subnode.name}}
</a>
</li>
{% endfor %}

    </ul>
    </div>
{% from "macros/_paginate.html" import paginate %}
<!--<div class="row">-->
<div class="span9">
<table class="table table-bordered">
<thead>
<tr>
<th>ID</th>
<th>名称</th>
<th>描述</th>
<th>所属模块</th>
<th>创建时间</th>
<th>更新时间</th>
<th>路径</th>
<th>操作</th>
</tr>
</thead>
 {% for code in page_obj.items %}
<tbody>
 
  <td>{{code.id}}</td>
   <td>{{code.name}}</td>
    <td>{{code.description}}</td>
     <td>{{code.relatedmodule.name}}</td>
     <td>{{code.code_create_time}}</td>
     <td>{{code.code_update_time}}</td>
      <td>{{code.path}}</td>
        <td>

 <div class="btn-group">
<button class="btn">Action</button>
<button class="btn dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li>
<a href="{{url_for('code.showsingle', id=code.id)}}">查看</a>
</li>
<li class="divider"></li>
<li>
<a href="{{url_for('code.addcode')}}">添加</a>
</li>
<li class="divider"></li>
<li>
<a href="{{url_for('code.delcode', code_id=code.id)}}">删除</a>
</li>
<li class="divider"></li>
<li>
<a href="{{url_for('code.editcode', code_id=code.id)}}">修改</a>
</li>
</ul>
</div>


        </td>


</tbody>
  {% endfor %}
</table>
 {{ paginate(page_obj, page_url) }}


</div>
</div>
</div>
{% endblock %}

