<div class="tab-pane" id="tab3">

<script type="text/javascript" src="/static/Highcharts/js/highcharts.js"></script>
<hr>

<script type="text/javascript">
$(document).ready(function () {
    var options ={
            chart: {
                renderTo: 'container4',

            },
            title: {
                text: '公开用例各模块统计情况'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '模块占有率',
                data: [
                ]
            }]
        };
        var url =  "{{url_for('stat.case_public')}}";
        $.getJSON(url,  function(data) {

            options.series[0].data = data["data"];

 
            var chart = new Highcharts.Chart(options);
    });
        });

 
</script>


<div class="span6">
<div id="container4" style="width: 600px; height:400px;  margin: -1 auto"></div>
<hr>
</div>

</div>