
{% extends "layout.html" %}
{% block content %}
<header id="overview" class="jumbotron subhead">
<div class="container">
<h2>编辑测试机</h2>

</div>
</header>
<div class="bs-docs-social">
<div class="container">
 <ul class="bs-docs-social-buttons">
      <li>
    <a class="btn" href="{{url_for('admin.showmachine')}}"><i class="icon-share-alt"></i>一键返回</a>
    <li>
    <li>
    <a class="btn" href="{{url_for('admin.addmachine')}}"><i class="icon-plus-sign"></i>一键添加</a>
    <li>

  </ul>
</div>
</div>
<br>
<div class="container">

{% from "macros/_forms.html" import render_errors %}
<div class="row">
<div class="span8 offset4">

<hr>
<span class="label">修改机器信息</span>
<div class="bs-docs-example">
<form method="POST" action=".">
    {{ form.hidden_tag() }}

       <div class="control-group">       
            {{ form.name.label  }}
            {{ form.name(size=15) }}
            {{ render_errors(form.name) }}
        </div>

      <div class="control-group">
            {{ form.description.label }}
            {{ form.description(rows=6, cols=30)}}
          </div>

        <div class="control-group">

            {% for option in form.status %}
            <label>
            {{ option }} {{ option.label.text }} 
          </label>
            {% endfor %}
    
        </div>

        <div class="control-group">
            {{ form.key.label  }}
            {{ form.key(size=15) }}
          </div>

        <div class="control-group">
            {{ form.username.label  }}
            {{ form.username(size=15) }}
            {{ render_errors(form.username) }}
      </div>

      <div class="control-group">
            {{ form.password.label }}
            {{form.password(size=15)}}
            {{ render_errors(form.password) }}
      </div>

      <div class="control-group">   
            {{ form.url_hudson.label }}
            {{ form.url_hudson(rows=6, cols=30)}} 

      <div class="control-group">
        {{ form.submit }}
        </div>


</form>
</div>
<hr>
<p>
<a href="{{ url_for('admin.showmachine') }}">{{ _('不改了？那就返回机器列表吧！') }}</a>
</p>


</div>
</div>
</div>
</div>
{% endblock %}