{% extends "layout.html" %}
{% block content %}
<header id="overview" class="jumbotron subhead">
<div class="container">
<h2>编辑用户</h2>

</div>
</header>
<div class="bs-docs-social">
<!--<div class="container">
  <ul class="bs-docs-social-buttons">
    <li>
    <a class="btn" href="{{url_for('admin.showuser')}}"><i class="icon-share-alt"></i>一键返回</a>
    <li>
    <li>
    <a class="btn" href="{{url_for('account.signup')}}"><i class="icon-plus-sign"></i>一键添加</a>
    <li>
  </ul>
</div>-->
</div>
<br>

<div class="container">

{% from "macros/_forms.html" import render_errors %}
<div class="row">
<div class="span8 offset4">
<hr>
<span class="label">修改帐号信息</span>
<div class="bs-docs-example">
<form method="POST" action=".">
    {{ form.hidden_tag() }}

       <div class="control-group">
            {{ form.username.label  }}
            {{ form.username(size=50) }}
            <span class="help-inline">only words, numbers or caches</span>
            {{ render_errors(form.username) }}
          </div>

      <div class="control-group">
            {{ form.email.label }}
            {{ form.email(size=50) }}
            {{ render_errors(form.email) }}
          </div>

        <div class="control-group">     
            <label class="checkbox" for="email_alerts">
            {{ form.email_alerts}}{{form.email_alerts.label.text}}
            </label>
        </div>

      <div class="control-group">      
            <label class="checkbox" for="status">
            {{ form.status}}{{form.status.label.text}}
          </label>
        </div>

       <div class="control-group">
              
            {% for option in form.role %}
            <label>
            {{ option }} {{ option.label.text }} 
            </label>
            {% endfor %}
      <div class="control-group">
        {{ form.submit }}
        </div>


</form>
</div>
<hr>
<p>
<a href="{{ url_for('admin.showuser') }}">{{ _('不改了 ? 那就返回到用户列表吧!') }}</a>
</p>
</div>
</div>
</div>
</div>
{% endblock %}