<div class="tab-pane" id="tab2">
<div>
    <script type="text/javascript" charset="utf-8">
var oTable;
 
/* Formating function for row details */
function fnFormatDetails ( nTr )
{
    var aData = oTable.fnGetData( nTr );
    var sOut = '<div class="alert alert-info alert-block">';
    sOut += '<p>测试结果：'+aData.result+'</p>';
    sOut += '<p>开始时间：'+aData.start_time+'</p>';
    sOut += '<p>结束时间：'+aData.stop_time+'</p>';
    sOut += '<p>失败用例id：'+aData.fail_case+'</p>';
    sOut += '<p>其他：'+aData.other+'</p>';
    sOut += '<p>任务ID：'+aData.task_id+'</p>';
    sOut += '<p>next：'+aData.next+'</p>';
    sOut += '</div>';
     
    return sOut;
}

      /* Table initialisation */
      $(document).ready(function() {

       oTable=$('#example_taskcount_stat').dataTable( {
        /*copy print save settings*/
        "oTableTools": {
                         "sSwfPath": "/static/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf",
                          "aButtons": [
                          "copy",
                          "print",
                          {
                          "sExtends":    "collection",
                          "sButtonText": 'Save <span class="caret" />',
                          "aButtons":    [ "csv", "xls", "pdf" ]
                            }
                            ]
                            },

         /*json source settings*/
        "sAjaxSource": "{{url_for('api.task_json_stat', task_id=task.id)}}",
        //"sAjaxSource": "http://10.0.2.53:5000/api/taskcount/1/json/",

        /*json data*/
        "aoColumns": [
            { "sClass": "center", "bSortable": false, "sDefaultContent":"<img src='/static/img/details_open.png'>" },
            { "mData": "id"},
            { "mData": "task_id", "bVisible": false},
            { "mData": "case_all"},
            { "mData": "case_pass" },
            { "mData": "case_fail"},
            { "mData": "result", "bVisible": false},
            { "mData": "start_time", "bVisible": false},
            { "mData": "stop_time", "bVisible": false},
            { "mData": "timing"},
            { "mData": "build_id"},
            { "mData": "fail_case", "bVisible": false},
            { "mData": "result_path", "mRender": function ( data, type, full ) {
                    return '<a href="{{LOG_URL}}'+data+'">log </a>';
                          }
                          },
            { "mData": "other", "bVisible": false},
            { "mData": "next", "bVisible": false},
            /*{
            "mDataProp": null,
            "sClass": "center",
            "sDefaultContent": "<div class='btn-group'><a href='' class='show1 btn-mini'>查看</a><a href='' class='delete btn-mini'>删除</a><a href='' class='update btn-mini'>修改</a></div>",
            "bSortable": false,
            "bSearchable": false
        }*/

        ],
        "aaSorting": [[1, 'desc']]
} );

$('#example_taskcount_stat').on('click', 'tbody td img', function () {
   var nTr = $(this).parents('tr')[0];
    if ( oTable.fnIsOpen(nTr) )
     {
      /* This row is already open - close it */
       this.src = "/static/img/details_open.png";
       oTable.fnClose( nTr );
     }
     else
     {
       /* Open this row */
       this.src = "/static/img/details_close.png";
       oTable.fnOpen( nTr, fnFormatDetails(nTr), 'details' );
     }} );


} );
    
</script>


<table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover table-striped" id="example_taskcount_stat">

<thead>
<tr>
<th></th>
<th>ID</th>
<th>任务ID</th>
<th>case总数</th>
<th>成功case数</th>
<th>失败case数</th>
<th>测试结果</th>
<th>开始时间</th>
<th>结束时间</th>
<th>执行时间</th>
<th>build_id</th>
<th>失败用例id</th>
<th>测试日志</th>
<th>其他</th>
<th>next</th>

</tr>
</thead>

<tbody>
</tbody>
</table>
</div>
</div>

