<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
    <title>Auto-M</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/docs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site-navbar.css">
</head>

<body data-target=".bs-docs-sidebar" data-spy="scroll">
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>
<a class="brand" href="#">Welcome to Auto-M!</a>
</div>
</div>
</div>


<div class="bs-docs-social">
<div class="container">
<ul class="bs-docs-social-buttons">
</ul>
</div>
</div>




<div class="container">

{% from "macros/_forms.html" import render_errors %}
{% from "macros/_message.html" import render_message %}
<div class="row clearfix">


<br>
<div class="span8 offset4">
  <h1 class="tit_1">
<img alt="问题反馈" title="问题反馈" src="/static/img/register.gif">
问题反馈
</h1>
<hr>

<form method="POST" action=".">
    {{ form.hidden_tag() }}

       

      <div class="control-group">
                <p>{{ render_errors(form.description) }}</p>
            {{ form.description.label }}
            {{ form.description(rows=6, cols=1000)}}
          </div>

      <div class="control-group">
        {{ form.submit }}
        </div>
</form>
<hr>


</div>
</div>
<div align = "center">
<a class="btn" href="/index"><i class="icon-share-alt" align="center"></i>返回首页</a>
</div>
</div>



  </body>
</html>
